<h1 class = "text-lg-center title">All Projects (<%= @ideas.length %>)</h1>

<% if @ideas %>
<div class="row">
  <div class="form-group-lg col-md-6 col-md-offset-3">
    <table class="table table-striped">
      <% @ideas.each do |idea| %>
        <tr>
          <td><%= link_to idea.title, idea_path(idea) %> by <%= idea.user_full_name %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<section class="row">
  <div class="col-md-6 col-md-offset-3 text-lg-center">
    <%# paginate @ideas %>
  </div>
</section>
<% end %>
